<ion-header>
  <ion-toolbar color="dark">
    <img src="assets/barbearia.png" id="im">
      <ion-title slot="start"></ion-title>
      <ion-title slot="end">
      </ion-title>


    <ion-title color="light">
      <ion-col>
        
        
      </ion-col>
    </ion-title>
  </ion-toolbar>
 
</ion-header>

<header class="header">
  <h1 > Tabela de Preços  </h1>
  
</header>


<ion-content color="dark">
  <ion-slides>
<ion-slide>
  <ion-card>
  <img src="assets/corte.jpg" width="200px" height="200px">
   <ion-card-header>
  <ion-card-title color="light">Corte Tradicional </ion-card-title>
  <ion-card-subtitle> É aquele modelo básico de corte  indicado para quem não pretende inovar  desejando manter o shape normal e corriqueiro. 
  </ion-card-subtitle>
  <ion-card-content>
    <h1> Preço do Corte  <hr>  R$20,00</h1>
  </ion-card-content>
  </ion-card-header>
  </ion-card>
  </ion-slide>

    <ion-slide>
    <ion-card>
      <img src="assets/tesoura.jpg" width="200px" height="200px">
      <ion-card-title color="light"><br>Corte Tesoura</ion-card-title>
     <ion-card-header>
    <ion-card-title> </ion-card-title>
    <ion-card-subtitle>Também conhecida como tesoura desbaste, é ideal para tirar o volume e peso dos cabelos. Em cortes masculinos. </ion-card-subtitle>
    <ion-card-content>
      <h1> Preço do Corte  <hr>  R$25.00</h1> 
    </ion-card-content>
    </ion-card-header>
    </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <img src="assets/229164-o-undercut-e-um-corte-de-cabelo-masculin-article_media_item-2.jpg" width="auto" height="auto">

       <ion-card-header>
      <ion-card-title color="light">Corte Degrade </ion-card-title>
      <ion-card-subtitle>Esse estilo é bem prático. O cabelo concentrado no topo da cabeça é de comprimento médio e, nas laterais. </ion-card-subtitle>
      <ion-card-content>
        <h1 text="center">Preço do corte<tr> <tr>R$30.00 <tr></h1> 
      </ion-card-content>
      </ion-card-header>
</ion-card>
</ion-slide>

      <ion-slide>
        <ion-card>
          <img src="cb.jpg" width="200px" height="200px">
         <ion-card-header>
        <ion-card-title color="light">Corte Luzes </ion-card-title>
        <ion-card-subtitle>As luzes podem ser adotadas por homens de todos estilos e idades. No caso dos mais jovens, ela geralmente é usada para conferir um visual mais descolado.
        </ion-card-subtitle>
        <ion-card-content>
        <h1>Preço do Corte  <hr>R$40.00 </h1>
        </ion-card-content>
        </ion-card-header>
</ion-card>
</ion-slide>

        <ion-slide>
          <ion-card>
            <img src="assets/barba.jpg" width="200px" height="200px">
           <ion-card-header>
            <ion-card-title color="light">Barba </ion-card-title>
            <ion-card-subtitle>objetivo dessa variedade de estilos e formatos é acrescentar contraste aos formatos e dimensão a cada formato de rosto. É por isso que nem todos os estilos combinam com todo mundo.
            </ion-card-subtitle>
            <ion-card-content>
            <h1>Preço do Corte<hr> R$20.00</h1>
            </ion-card-content>
            </ion-card-header>
          
        
</ion-card>
</ion-slide>
</ion-slides>


        
      
  
      
    